// @media (max-width: 967px) {
    
// }

@media (max-width: 768px) {
    .promo {
        min-height: 568px;
        padding: 21px 0;
        &__wrapper {
            margin-top: 50px;
        }
        &__icons {
            margin-top: 40px;
        }
    }
    .advantages {
        padding: 40px 0;
        min-height: 420px;        
        &__item {
            width: 220px;
            padding: 0 2px;
        }
        &__descr {
            font-size: 13px;
        }
    }
    .button {
        &_main {
            margin-top: 50px;
        }
    }
    .consultation {
        height: 570px;
        padding-top: 50px;
        &__title {
            font-size: 25px;
            margin-bottom: 0;
        }
        &__descr {
            font-size: 14px;
            padding-top: 30px;
        }
    }
   
    .prev, .next {
        display: none;
    }
    .carousel__inner {
        width: 80%;
    }
    .slick-slide {        
        img {
            width: 100%;
        }
    }
    
}

@media (max-width: 575px) {
    .header {
        display: flex;
        align-items: flex-start;
        &__logo {
            img {
                width: 90%;
            }
        }
         &__oficial {
             display: none;
         }
         &__phone {
             font-size: 13px;
         }    
    }
    .promo {
        min-height: 500px;
        padding-bottom: 0;
        &__wrapper {
            align-items: center;
            margin-top: 30px;
        }
        &__header {
            font-size: 24px;
        }
        &__subheader {
            font-size: 14px;
        }
        &__icons {
            align-items: flex-start;
            width: 300px;
        }
        &__icon {
            width: 100px;
            font-size: 13px;
        }
    }
    .advantages {
        &__header {
            font-size: 24px;
        }
        &__wrapper {
            flex-direction: column;
            align-items:center;
        }
        &__item {
            width: 300px;
        }
        &__descr {
            font-size: 14px;
        }
    }
    .button {
        width: 130px;
        font-size: 10px;
        &_main {
            width: 200px;
            font-size: 13px;
            margin-top: 40px;            
        }
        &_submit {
            width: 100%;
            font-size: 16px;
        }
    }
    .consultation {
        height: 500px;
        padding-top: 50px;
        padding-bottom: 0;
        &__title {
            text-align: center;
            font-size: 18px;
            margin-bottom: 0;
            br {
                display: none;
            }
        }
        &__descr {
            text-align: center;
            padding-top: 20px;
        }
    }
    .feed-form {
        margin: 0 auto;
        margin-top: 25px;
    }
    .prev, .next {
        display: none;
    }
    .carousel__inner {
        width: 90%;
    }
    .slick-slide {        
        img {
            width: 100%;
        }
    }
    .catalog {
        padding-bottom: 40px;
    }
    .reviews {
        &__title {
            font-size: 25px;
            padding-bottom: 0;
            margin-bottom: 0;
        }
    }
    .feedback {
        &__item {
            flex-direction: column;
            align-items: center;
            margin-top: 30px;
            padding-bottom: 30px;
        }
        &__img {
            margin: 0;
            width: 150px;
            height: 150px;
        }
        &__title {
            margin-top: 20px;
            text-align: center;
            padding-bottom: 10px;
        }
        &__descr {
            font-size: 14px;
        }
    } 
}
